version: '3.8'

services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/docs/_site
    environment:
      - JEKYLL_ENV=development
    command: sh -c "cd docs && bundle install && bundle exec jekyll serve --host 0.0.0.0 --livereload --force_polling"